[alias]
	b = branch
	c = commit
	co = checkout
	f = fetch
	l = log
	l = log --pretty=format:%C(green)%h\\ %C(yellow)[%cd]%Cred%d\\ %Creset%s%C(cyan)%\\ [%cn]--decorate --date=format:'%d %b %H:%M' --graph
	rb = rebase
	s = status
	ll = log --pretty=format:%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]--decorate --numstat
	ls = log --pretty=format:%C(green)%h\\ %C(yellow)[%cd]%Cred%d\\ %Creset%s%C(cyan)%\\ [%cn]--decorate --date=format:'%d %b %H:%M' --graph --all
[core]
	editor = subl --wait
	autocrlf = true
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[pull]
	rebase = true
[fetch]
	prune = false
[rebase]
	autoStash = false
[credential]
	helper = manager
